# Scraping a coingcko, web de criptomonedas
### 1 scraping
### 2 crear df
### 3 limpieza de datos
### 4 enviar df a mysql

## Imports

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

## HTTP Request

### store website in variable

In [2]:
ua = {"User-Agent":"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36"}

In [3]:
website = 'https://www.coingecko.com/en'

## Get Request

In [4]:
response = requests.get(website)

## Status Code

In [5]:
response.status_code

200

## Soup Object

In [7]:
soup = BeautifulSoup(response.content, 'html.parser')

## Results

In [8]:
results = soup.find('table', {'class':'table-scrollable'}).find('tbody').find_all('tr')

In [9]:
len(results)

100

In [10]:
results[0]

<tr>
<td class="pl-1 pr-0 cg-sticky-col cg-sticky-first-col">
<div class="dropdown-menu p-3 dropdown-popup dropdown-menu-content portfolios-dropdown"></div>
<i aria-expanded="false" aria-haspopup="true" class="far cursor-pointer fa-star" data-action="click-&gt;favorites#trigger click-&gt;add-coin-id-to-cookies#clickStarButton" data-coin-id="1" data-coin-image="https://assets.coingecko.com/coins/images/1/thumb/bitcoin.png?1547033579" data-coin-slug="bitcoin" data-coin-symbol="btc" data-new-portfolio-button-label='&lt;span class="translation_missing" title="translation missing: en.layouts.application.portfolio.add_to_new_portfolio"&gt;Add To New Portfolio&lt;/span&gt;' data-new-portfolio-confirm-button="new-portfolio-form-confirm-button" data-new-portfolio-confirm-modal="new-portfolio-form-modal" data-price-btc="1.0" data-removable="false" data-source="star_button" data-target="favorites.solidStar" data-toast-success-hyperlink-text="Start your portfolio - Add a transaction!" data-toast-success-message="BTC added to Portfolio" data-toggle="dropdown" data-unfavorite-coin-confirm-button="unfavorite-coin-confirm-button" data-unfavorite-coin-confirm-modal="unfavorite-coin-confirm-modal"></i>
</td>
<td class="table-number tw-text-left text-xs cg-sticky-col cg-sticky-second-col tw-max-w-14 lg:tw-w-14">
1
</td>
<td class="py-0 coin-name cg-sticky-col cg-sticky-third-col px-0" data-sort="Bitcoin">
<div class="tw-flex center">
<img alt="bitcoin (BTC)" class="tw-mr-1 lg:tw-mr-2 tw-h-5 tw-w-5 tw-overflow-hidden" height="20" src="https://assets.coingecko.com/coins/images/1/thumb/bitcoin.png?1547033579" width="20"/>
<a class="tw-flex tw-flex-auto tw-items-start md:tw-flex-row tw-flex-col" href="/en/coins/bitcoin">
<span class="lg:tw-flex font-bold tw-items-center tw-justify-between">
Bitcoin
</span>
<span class="d-lg-inline font-normal text-3xs tw-ml-0 md:tw-ml-2 md:tw-self-center tw-text-gray-500 dark:tw-text-white dark:tw-text-opacity-60">
BTC
</span>
</a> </div>
</td>
<td class="td-price price text-right" data-sort="28082.1510043244">
<div class="tw-flex tw-justify-between tw-items-center tw-gap-2">
<div data-api-symbol="bitcoin" data-target="buy-sell-ads.coinRowBuy" data-zone-key="CEAD627L" id="token-bitcoin-js">
</div>
<div class="tw-flex-1">
<span class="no-wrap" data-coin-id="1" data-coin-symbol="btc" data-price-btc="1.0" data-target="price.price">$28,082.15</span>
</div>
</div>
</td>
<td class="td-change1h change1h stat-percent text-right col-market" data-sort="0.28607547718025816">
<span class="text-green" data-24h="false" data-coin-id="1" data-down-class="text-danger" data-formatted="false" data-json='{"aed":0.2860754771799605,"ars":0.28929727473058875,"aud":0.40516782918924127,"bch":-0.007253178331969034,"bdt":0.28607547718024623,"bhd":0.2759672808866788,"bmd":0.28607547718025816,"bnb":0.06642864465074262,"brl":0.2979765146183863,"btc":0.0,"cad":0.3954906484063776,"chf":0.32000156687205134,"clp":0.28607547718000376,"cny":0.28607547718048265,"czk":0.38014785095414794,"dkk":0.356528256898789,"dot":-0.24402744641649704,"eos":0.36065962589698203,"eth":0.044495478413895756,"eur":0.35950586710893984,"gbp":0.34850844454445407,"hkd":0.28556446240112826,"huf":0.368903679773872,"idr":0.24805720148727595,"ils":0.28607547718101417,"inr":0.3132869331975982,"jpy":0.2996452819278823,"krw":0.3093233228951685,"kwd":0.29817113448935967,"lkr":0.2860754771803498,"ltc":-0.11209364043136408,"mmk":0.2860754771802946,"mxn":0.3853956274808808,"myr":0.2860754771801503,"ngn":0.2860754771805771,"nok":0.37592666432299954,"nzd":0.3475732168455791,"php":0.2290657110201591,"pkr":0.2860754771804367,"pln":0.37965101677489355,"rub":0.2860754771802681,"sar":0.28564774185657826,"sek":0.3364634766354416,"sgd":0.3364566564962076,"thb":0.2893126971389732,"try":0.3010270640012049,"twd":0.2975794360965429,"uah":0.2860754771801709,"usd":0.28607547718025816,"vef":0.2860754771802783,"vnd":0.2860754771804259,"xag":0.36984889505911583,"xau":0.4089503939056796,"xdr":0.286075477180578,"xlm":0.15646892976582424,"xrp":-0.1357480741049466,"yfi":-0.10828860266059197,"zar":0.37732922638879124,"bits":0.028209614304384706,"link":-0.3626592054417538,"sats":0.02820961430438238}' data-show-solid-arrow="false" data-target="percent-change.percent" data-up-class="text-green">0.3%</span>
</td>
<td class="td-change24h change24h stat-percent text-right col-market" data-sort="-0.5416780972427061">
<span class="text-danger" data-24h="true" data-coin-id="1" data-down-class="text-danger" data-formatted="false" data-json='{"aed":-0.5382928351955705,"ars":-0.5400772243967097,"aud":0.18736657402640267,"bch":0.0059526464298635786,"bdt":-2.1672392289971496,"bhd":-0.5445802104555668,"bmd":-0.5416780972427061,"bnb":-0.36742130302199116,"brl":-0.3208961562052142,"btc":0.0,"cad":-0.3518115142972893,"chf":-0.7369467280983035,"clp":0.3856848414198468,"cny":-0.5937240248318514,"czk":-0.8649799410109614,"dkk":-0.6796731345107905,"dot":0.15528857000982413,"eos":-4.215677419699702,"eth":1.302460275010638,"eur":-0.6951290215366426,"gbp":-0.417641587853375,"hkd":-0.5408545412608179,"huf":-0.8673834926814913,"idr":-0.7473413341681923,"ils":0.29498861507548285,"inr":-0.6563033278571064,"jpy":-0.16474502621473092,"krw":-0.5580036573924412,"kwd":-0.5672811140967008,"lkr":-1.313776738874822,"ltc":1.2496573388106171,"mmk":-0.696373826984835,"mxn":-0.8317387198814965,"myr":-0.5303721609118219,"ngn":-1.4302723618200266,"nok":-0.614367049285276,"nzd":0.5212292265566487,"php":-0.5453362629324469,"pkr":-0.6718006360605248,"pln":-0.696043174563943,"rub":1.2350241059754916,"sar":-0.54385210874312,"sek":-0.46877935889656486,"sgd":-0.3879568483786153,"thb":-0.19910276988223688,"try":-0.5227158417238997,"twd":-0.6620149334028771,"uah":-0.9210478957731083,"usd":-0.5416780972427061,"vef":-0.5416780972424311,"vnd":-0.6391239504380828,"xag":-0.2801946830977698,"xau":0.20411860067003992,"xdr":-0.541678097242457,"xlm":1.5782220143748236,"xrp":-0.4874308058577134,"yfi":0.15687276478829779,"zar":0.39227297252049326,"bits":0.00012526919313568782,"link":0.9002244532751015,"sats":0.00012526919313568785}' data-show-solid-arrow="false" data-target="percent-change.percent" data-up-class="text-green">-0.5%</span>
</td>
<td class="td-change7d change7d stat-percent text-right col-market" data-sort="-1.1017672137057422" style="width: 70px;">
<span class="text-danger" data-24h="false" data-coin-id="1" data-down-class="text-danger" data-formatted="false" data-json='{"aed":-1.101767213705075,"ars":0.29422372057274837,"aud":-0.919271930023771,"bch":-3.6444787626413984,"bdt":-2.091786112279052,"bhd":-1.1337636082192013,"bmd":-1.1017672137057422,"bnb":-0.8086893595757594,"brl":-2.6193083484875044,"btc":0.0,"cad":-1.6334114881464912,"chf":-2.5368186262017844,"clp":2.3381876736806437,"cny":-1.2625983628401867,"czk":-2.5328695420918605,"dkk":-1.76016268101676,"dot":-3.579376319742792,"eos":-7.716255838368411,"eth":-5.273217866857335,"eur":-1.7855186224844506,"gbp":-2.1359972582347093,"hkd":-1.1004317401068395,"huf":-3.007597559653207,"idr":-1.8271475281328335,"ils":-0.13804310436481704,"inr":-1.5817875931783618,"jpy":-1.6795743502052916,"krw":-0.3650730140843063,"kwd":-1.0195004225557731,"lkr":-2.5270899140974366,"ltc":-0.6680777587787639,"mmk":-1.1677861514737131,"mxn":-0.26129857395953243,"myr":-1.5382310678043698,"ngn":-1.0613376546120525,"nok":-0.8603996608249401,"nzd":-1.501428754718564,"php":-0.6735647506258298,"pkr":0.45204643357142055,"pln":-1.8217585264864518,"rub":4.378311992057797,"sar":-1.2028210240828199,"sek":-0.8184943750087504,"sgd":-1.0223084726411025,"thb":-1.3894351748491944,"try":-0.5905484941143552,"twd":-1.1393065026923388,"uah":-1.418022036187853,"usd":-1.1017672137057422,"vef":-1.101767213705394,"vnd":-1.264808897483039,"xag":-7.38885673928342,"xau":-3.2066872887155866,"xdr":-1.327506515510011,"xlm":-3.739460038497299,"xrp":6.433749796388249,"yfi":1.7576378228738445,"zar":-0.3853764565064969,"bits":0.05807189674786286,"link":1.3980795345029071,"sats":0.058071896747865656}' data-show-solid-arrow="false" data-target="percent-change.percent" data-up-class="text-green">-1.1%</span>
</td>
<td class="td-liquidity_score lit text-right col-market" data-sort="474392.413449792" style="width: 155px;">
<span class="no-wrap" data-no-decimal="true" data-price-btc="474392.413449792" data-target="price.price">$13,317,419,950</span>
</td>
<td class="td-market_cap cap col-market cap-price text-right" data-sort="19339037.0" style="width: 155px;">
<span class="no-wrap" data-price-btc="19339037.0" data-target="price.price">$542,856,103,798</span>
</td>
<td class="td-fdv fdv text-right tw-hidden" data-sort="" style="width: 155px;">
<span class="no-wrap" data-price-btc="21000000.0" data-target="price.price">$589,480,136,976</span>
</td>
<td class="td-fdv fdv text-right tw-hidden" data-sort="0.92" style="width: 155px;">
0.92
</td>
<td class="tw-cursor-pointer p-0 pl-2 text-center" style="width: 135px;">
<img alt="bitcoin (BTC) 7d chart" data-action="click-&gt;application#navigateToUrl" data-url="/en/coins/bitcoin?chart=7_days#panel" height="50" loading="lazy" src="https://www.coingecko.com/coins/1/sparkline.svg" width="135"/>
</td>
</tr>

## Target necessary datam

In [55]:
# Position
# Name
# Price
# 1h Change
# 24h Change
# 7 day change
# 24h Volume
# Market Cap
# Supply

## Position

In [11]:
results[0].find('td', {'class':'table-number'}).get_text().strip()

'1'

In [13]:
# results[0].find('', {'':''}).get_text().strip()

## Name

In [14]:
results[0].find('span', {'class':'lg:tw-flex font-bold tw-items-center tw-justify-between'}).get_text().strip()

'Bitcoin'

## Price

In [15]:
results[0].find('span', {'class':'no-wrap'}).get_text().strip()

'$28,082.15'

## 1h Change

In [16]:
results[0].find('td', {'class':'td-change1h'}).get_text().strip()

'0.3%'

## 24h Change

In [17]:
results[0].find('td', {'class':'td-change24h change24h stat-percent text-right col-market'}).get_text().strip()

'-0.5%'

## 7 day change

In [18]:
results[0].find('td', {'class':'td-change7d'}).get_text().strip()

'-1.1%'

## 24h Volume

In [19]:
results[0].find('td', {'class':'td-liquidity_score'}).get_text().strip()

'$13,317,419,950'

## Market Cap

In [20]:
results[0].find('td', {'class':'td-market_cap cap col-market cap-price text-right'}).get_text().strip()

'$542,856,103,798'

# Put everything together inside a For-Loop

In [21]:
position = []
name = []
price = []
change_1h = []
change_24h = []
change_7d = []
volume_24h = []
market_cap=[]

for result in results:
    
    # name
    try:
        position.append(result.find('td', {'class':'table-number'}).get_text().strip()) 
    except:
        position.append('n/a')
        
    # name
    try:
        name.append(result.find('span', {'class':'lg:tw-flex font-bold tw-items-center tw-justify-between'}).get_text().strip()) 
    except:
        name.append('n/a')
    
    # price
    try:
        price.append(result.find('td', {'class':'td-price'}).get_text().strip())
    except:
        price.append('n/a')
    
    # change_1h
    try:
        change_1h.append(result.find('td', {'class':'td-change1h'}).get_text().strip())
    except:
        change_1h.append('n/a')
        
    # change_24h
    try:
        change_24h.append(result.find('td', {'class':'td-change24h change24h stat-percent text-right col-market'}).get_text().strip())
    except:
        change_24h.append('n/a')
    
    # change_7d
    try:
        change_7d.append(result.find('td', {'class':'td-change7d'}).get_text().strip())
    except:
        change_7d.append('n/a')
    
    # volume_24h
    try:
        volume_24h.append(result.find('td', {'class':'td-liquidity_score'}).get_text().strip())
    except:
        volume_24h.append('n/a')
    
    # market_cap
    try:
        market_cap.append(result.find('td', {'class':'td-market_cap'}).get_text().strip())
    except:
        market_cap.append('n/a')

## Create Pandas Dataframe

In [22]:
# create dataframe
crypto = pd.DataFrame({"Position":position, "Coin": name, "Price":price, "Change 1h":change_1h, "Change 7d":change_7d,
                     "Change 24h":change_24h, "Volume 24h":volume_24h,
                      "Market Cap":market_cap})

In [23]:
# output dataframe
crypto

,Position,Coin,Price,Change 1h,Change 7d,Change 24h,Volume 24h,Market Cap
0,1,Bitcoin,"$28,082.15",0.3%,-1.1%,-0.5%,"$13,317,419,950","$542,856,103,798"
1,2,Ethereum,"$1,874.75",0.2%,4.4%,-1.8%,"$9,278,525,710","$225,722,774,894"
2,3,Tether,$1.00,0.1%,0.1%,0.3%,"$22,509,600,379","$80,222,205,719"
3,4,BNB,$313.14,0.2%,-0.3%,-0.2%,"$510,707,258","$49,436,901,716"
4,5,USD Coin,$1.00,0.1%,0.1%,0.0%,"$3,770,370,412","$32,598,928,005"
...,...,...,...,...,...,...,...,...
95,96,THORChain,$1.57,0.8%,10.5%,-2.8%,"$87,204,739","$473,297,857"
96,97,Injective,$5.77,-0.3%,32.6%,3.3%,"$68,270,684","$460,869,079"
97,98,Rocket Pool ETH,"$2,000.33",0.2%,4.2%,-1.7%,"$3,749,069","$460,459,320"
98,99,cUSDC,$0.022817571358,0.2%,0.1%,0.1%,$2.86,"$456,947,508"
99,100,Casper Network,$0.041031667364,-2.0%,10.7%,-1.0%,"$8,674,092","$446,486,562"

In [85]:
             Position   Coin   Price   Change 1h    Change 7d     Change 24h      Volume 24h         Market Cap
limpiar                         $        %           %              %              $                   $     
    
tipo dato   int         -       float   float        float         float          float               float

SyntaxError: invalid syntax (<ipython-input-85-5ac1b70cd242>, line 1)

### Informacion de las columnas

In [24]:
crypto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Position    100 non-null    object
 1   Coin        100 non-null    object
 2   Price       100 non-null    object
 3   Change 1h   100 non-null    object
 4   Change 7d   100 non-null    object
 5   Change 24h  100 non-null    object
 6   Volume 24h  100 non-null    object
 7   Market Cap  100 non-null    object
dtypes: object(8)
memory usage: 6.4+ KB

### Ver nulos

In [25]:
# ver datos nulos
crypto.isnull().sum()

Position      0
Coin          0
Price         0
Change 1h     0
Change 7d     0
Change 24h    0
Volume 24h    0
Market Cap    0
dtype: int64

### Ver tipos de datos

In [26]:
# tipos de datos
crypto.dtypes

Position      object
Coin          object
Price         object
Change 1h     object
Change 7d     object
Change 24h    object
Volume 24h    object
Market Cap    object
dtype: object

## Limpieza de datos

In [89]:
# crypto['Price'] = crypto['Price'].str.strip('$').str.replace(',', '').astype(int)

In [27]:
# saco el $ y la coma
crypto['Price'] = crypto['Price'].str.strip('$').str.replace(',', '')
crypto['Volume 24h'] = crypto['Volume 24h'].str.strip('$').str.replace(',', '')
crypto['Market Cap'] = crypto['Market Cap'].str.strip('$').str.replace(',', '')

# saco el %
crypto['Change 1h'] = crypto['Change 1h'].str.strip('%')
crypto['Change 7d'] = crypto['Change 7d'].str.strip('%')
crypto['Change 24h'] = crypto['Change 24h'].str.strip('%')

In [28]:
crypto.head(5)

,Position,Coin,Price,Change 1h,Change 7d,Change 24h,Volume 24h,Market Cap
0,1,Bitcoin,28082.15,0.3,-1.1,-0.5,13317419950,542856103798
1,2,Ethereum,1874.75,0.2,4.4,-1.8,9278525710,225722774894
2,3,Tether,1.00,0.1,0.1,0.3,22509600379,80222205719
3,4,BNB,313.14,0.2,-0.3,-0.2,510707258,49436901716
4,5,USD Coin,1.00,0.1,0.1,0.0,3770370412,32598928005

In [29]:
# poner $ y % en encabezado de las columnas
crypto = crypto.rename(columns={'Price':'Price($)'})
crypto = crypto.rename(columns={'Volume 24h':'Volume 24h($)'})
crypto = crypto.rename(columns={'Market Cap':'Market Cap($)'})

crypto = crypto.rename(columns={'Change 1h':'Change 1h(%)'})
crypto = crypto.rename(columns={'Change 7d':'Change 7d(%)'})
crypto = crypto.rename(columns={'Change 24h':'Change 24h(%)'})

In [30]:
crypto.head()

,Position,Coin,Price($),Change 1h(%),Change 7d(%),Change 24h(%),Volume 24h($),Market Cap($)
0,1,Bitcoin,28082.15,0.3,-1.1,-0.5,13317419950,542856103798
1,2,Ethereum,1874.75,0.2,4.4,-1.8,9278525710,225722774894
2,3,Tether,1.00,0.1,0.1,0.3,22509600379,80222205719
3,4,BNB,313.14,0.2,-0.3,-0.2,510707258,49436901716
4,5,USD Coin,1.00,0.1,0.1,0.0,3770370412,32598928005

In [31]:
# cambiar a tipo int
crypto['Price($)'] = crypto['Price($)'].apply(lambda x: x.replace('.', '') if '.' in x else x)
crypto['Volume 24h($)'] = crypto['Volume 24h($)'].apply(lambda x: x.replace('.', '') if '.' in x else x)
crypto['Market Cap($)'] = crypto['Market Cap($)'].apply(lambda x: x.replace('.', '') if '.' in x else x)

In [32]:
# pasar tipo int
crypto['Price($)'] = crypto['Price($)'].astype(int)
crypto['Volume 24h($)'] = crypto['Volume 24h($)'].astype(int) 
crypto['Market Cap($)'] = crypto['Market Cap($)'].astype(int) 

crypto['Position'] = crypto['Position'].astype(int)

In [33]:
crypto.dtypes

Position          int64
Coin             object
Price($)          int64
Change 1h(%)     object
Change 7d(%)     object
Change 24h(%)    object
Volume 24h($)     int64
Market Cap($)     int64
dtype: object

In [34]:
# pasar tipo float
crypto['Change 7d(%)'] = crypto['Change 7d(%)'].astype(float) 
crypto['Change 1h(%)'] = crypto['Change 1h(%)'].astype(float)
crypto['Change 24h(%)'] = crypto['Change 24h(%)'].astype(float)

In [35]:
crypto.dtypes

Position           int64
Coin              object
Price($)           int64
Change 1h(%)     float64
Change 7d(%)     float64
Change 24h(%)    float64
Volume 24h($)      int64
Market Cap($)      int64
dtype: object

In [36]:
crypto.head()

,Position,Coin,Price($),Change 1h(%),Change 7d(%),Change 24h(%),Volume 24h($),Market Cap($)
0,1,Bitcoin,2808215,0.3,-1.1,-0.5,13317419950,542856103798
1,2,Ethereum,187475,0.2,4.4,-1.8,9278525710,225722774894
2,3,Tether,100,0.1,0.1,0.3,22509600379,80222205719
3,4,BNB,31314,0.2,-0.3,-0.2,510707258,49436901716
4,5,USD Coin,100,0.1,0.1,0.0,3770370412,32598928005

# Mysql

In [ ]:
CREATE DATABASE cripto;

## sqlalchemy enviar df a mysql

In [ ]:
https://www.dataquest.io/blog/sql-insert-tutorial/

In [37]:
# import the module
from sqlalchemy import create_engine

# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@172.20.0.2/{db}"
                       .format(user="root",
                               pw="root",
                               db="cripto"))

### Una vez que estamos conectados, podemos exportar todo el DataFrame a MySQL usando la to_sql()
* coin: el nombre de la tabla en la que queremos insertar nuestro DataFrame.
* con = engine: proporciona los detalles de la conexión (recuerde que creamos el motor usando nuestros detalles de autenticación en el paso anterior).
* if_exists = 'append': comprueba si la tabla que especificamos ya existe o no, y luego agrega los nuevos datos (si existe) o crea una nueva tabla (si no existe).
* chunksize: escribe registros en lotes de un tamaño dado a la vez. Por defecto, todas las filas se escribirán a la vez.

In [38]:
# Insert whole DataFrame into MySQL
crypto.to_sql('coin', con = engine, if_exists = 'append', chunksize = 1000)

### otra forma de leer db

In [124]:
# create connection
connection = pymysql.connect(host='172.20.0.2',
                             user='root',
                             password='root',
                             db='cripto')

# Create cursor
my_cursor = connection.cursor()

# Execute Query
my_cursor.execute("SELECT * from coin")

# Fetch the records
result = my_cursor.fetchall()

for i in result:
    print(i)

# Close the connection
connection.close()

(0, 1, 'Bitcoin', 2469210, -0.4, 13.4, 0.9, 39240211498, 476564130942)
(1, 2, 'Ethereum', 169277, -0.6, 11.7, 0.5, 8522954515, 204061181068)
(2, 3, 'Tether', 999185, -0.2, -0.2, -0.1, 52629312145, 70345831019)
(3, 4, 'BNB', 31385, -0.2, 0.1, 0.3, 471473900, 49551823551)
(4, 5, 'USD Coin', 999433, -0.1, -0.1, -0.1, 3998963654, 41880067290)
(5, 6, 'XRP', 396790, -0.7, 5.5, 2.5, 1763205257, 20169558194)
(6, 7, 'Cardano', 403079, -0.2, 10.7, 0.1, 382402121, 14135771372)
(7, 8, 'Polygon', 146, -0.3, 18.3, -1.7, 743791046, 13183793296)
(8, 9, 'OKB', 5341, -0.2, 31.0, 0.9, 52002930, 13173254583)
(9, 10, 'Binance USD', 999290, -0.1, -0.1, -0.0, 10096674750, 12790927553)
(10, 11, 'Dogecoin', 87797048585, -0.3, 6.9, 0.6, 566009435, 12133588559)
(11, 12, 'Solana', 2620, 0.0, 22.2, 4.0, 1397065027, 9908083104)
(12, 13, 'Polkadot', 751, 0.2, 21.8, 0.5, 509241617, 9052842772)
(13, 14, 'Lido Staked Ether', 169254, -0.4, 10.0, 0.6, 28755948, 8751251896)
(14, 15, 'Shiba Inu', 13395868, -0.2, 4.6, -0.7, 365684558, 7890301706)
(15, 16, 'Litecoin', 9519, -0.6, 3.1, -3.0, 904427002, 6883676566)
(16, 18, 'Avalanche', 2080, -0.3, 17.3, 4.5, 484403424, 6554282893)
(17, 17, 'TRON', 71505550246, -0.1, 11.9, 1.2, 513299811, 6549150642)
(18, 19, 'Uniswap', 732, 0.5, 15.6, 0.9, 136371556, 5520789644)
(19, 20, 'Dai', 998959, -0.1, -0.1, -0.1, 188797439, 5082512852)
(20, 21, 'Wrapped Bitcoin', 2466549, -0.4, 13.3, 0.7, 244317972, 4335015502)
(21, 22, 'Cosmos Hub', 1434, -0.7, 6.0, 1.2, 187856166, 4199074106)
(22, 23, 'Chainlink', 796, -0.3, 17.1, 0.5, 608183369, 3911802276)
(23, 24, 'Toncoin', 238, 0.7, 3.2, 1.3, 25441727, 3504859059)
(24, 25, 'Filecoin', 832, 1.4, 69.4, -4.6, 873534339, 3246409735)
(25, 26, 'Ethereum Classic', 2298, -0.4, 9.3, 1.5, 327318939, 3206097514)
(26, 27, 'LEO Token', 334, 0.3, 0.1, -0.1, 432578, 3113698857)
(27, 28, 'Monero', 16118, -0.1, 1.2, -0.0, 132976353, 2926957766)
(28, 29, 'Bitcoin Cash', 14344, -0.2, 16.9, 5.2, 646438124, 2771485552)
(29, 30, 'Stellar', 94167641615, -0.7, 10.5, 3.3, 97534144, 2483384299)
(30, 31, 'Lido DAO', 289, 0.4, 15.5, -2.5, 168293596, 2436370308)
(31, 32, 'Aptos', 1410, -0.6, 7.9, -0.4, 202616432, 2383728594)
(32, 33, 'NEAR Protocol', 270, -0.2, 21.0, 4.1, 250938314, 2321747854)
(33, 34, 'VeChain', 31614778072, -1.0, 34.2, 8.7, 369885875, 2295836432)
(34, 35, 'Hedera', 86200810195, -0.1, -0.4, -2.0, 67611822, 2261127350)
(35, 36, 'ApeCoin', 582, -0.3, 11.7, 3.5, 164012112, 2145367888)
(36, 37, 'Internet Computer', 730, 0.5, 32.7, -1.1, 144377274, 2115382972)
(37, 38, 'Cronos', 83231418736, -0.6, 8.7, 4.8, 31109978, 2108900622)
(38, 39, 'Quant', 13905, -0.8, 5.9, 0.8, 33270207, 2022808531)
(39, 40, 'Algorand', 284143, -0.3, 14.7, 3.0, 188160753, 2020835402)
(40, 41, 'The Graph', 170934, -0.4, 10.6, -0.0, 157563182, 1520732366)
(41, 42, 'The Sandbox', 829062, -0.7, 17.7, 4.9, 658648650, 1464072222)
(42, 43, 'Flow', 137, -0.2, 33.1, 1.9, 142934080, 1420316741)
(43, 44, 'Fantom', 508833, -1.4, 15.5, -3.0, 304751312, 1412987754)
(44, 45, 'EOS', 125, -0.5, 20.4, 0.9, 197683721, 1372645280)
(45, 46, 'Decentraland', 739673, -0.1, 12.1, 2.9, 234614026, 1348146224)
(46, 47, 'MultiversX', 5272, -0.4, 20.3, 2.7, 57734380, 1320848802)
(47, 48, 'Aave', 9147, -0.1, 18.3, 0.7, 115871743, 1305292912)
(48, 49, 'Axie Infinity', 1117, -0.3, 13.0, 1.8, 162381049, 1287282161)
(49, 50, 'Theta Network', 128, -0.0, 20.4, 6.8, 56565648, 1281933583)
(50, 51, 'Tezos', 126, -0.2, 16.3, 6.0, 56328125, 1157371660)
(51, 52, 'Frax', 997560, -0.3, -0.4, -0.2, 10996556, 1030785253)
(52, 53, 'Klaytn', 331658, 0.8, 70.3, -3.8, 223182118, 1026851579)
(53, 54, 'Terra Luna Classic', 169880638, -0.1, 3.1, 0.5, 73818302, 1003624792)
(54, 55, 'Huobi', 617, -0.6, 20.4, 18.8, 55242411, 1001866911)
(55, 56, 'NEO', 1409, 0.6, 64.3, 33.7, 796962123, 989980634)
(56, 57, 'TrueUSD', 998673, -0.2, -0.1, -0.1, 61220223, 967126946)
(57, 59, 'Curve DAO', 127, 0.1, 37.2, 4.8, 133571554, 952666668)
(58, 58, 'Rocket Pool', 4964, -0.5, 6.5, -3.2, 9045424, 952350739)
(59, 60, 'KuCoin', 918, -0.0, 14.0, 2.4, 1617182, 894346095)
(60, 61, 'Mina Protocol', 106, -0.1, 5.6, 5.0, 102612625, 891828630)
(61, 62, 'Synthetix Network', 274, -0.6, 16.7, 3.6, 86838712, 858678468)
(62, 64, 'Stacks', 625078, 1.6, 109.3, 16.5, 927517017, 849339030)
(63, 63, 'Bitcoin SV', 4373, 0.1, 7.4, 3.3, 43329462, 842578003)
(64, 65, 'BitDAO', 634820, -0.0, 10.7, 1.2, 12536258, 837760887)
(65, 66, 'ImmutableX', 103, -0.3, 0.1, -0.4, 45879289, 814796535)
(66, 67, 'Dash', 7176, -0.1, 15.2, 1.5, 148622368, 800525181)
(67, 68, 'PancakeSwap', 421, -0.1, 0.9, 0.7, 81898687, 788455786)
(68, 69, 'Frax Share', 1070, -0.0, 5.1, -0.5, 24007071, 788051573)
(69, 70, 'Chiliz', 145675, -1.0, 8.8, 3.0, 159500748, 779575110)
(70, 71, 'Gate', 517, -1.1, 19.6, 11.4, 2625600, 751174259)
(71, 72, 'IOTA', 266311, -0.4, 14.7, 6.0, 34986541, 739622489)
(72, 73, 'eCash', 37592554, -0.2, 10.5, 3.8, 24081637, 726965927)
(73, 75, 'BitTorrent', 759856, -0.9, 9.0, 3.1, 19983272, 723023928)
(74, 74, 'USDD', 996411, -0.0, 0.5, -0.1, 26854230, 722855883)
(75, 76, 'Pax Dollar', 998500, 0.6, 0.2, -0.0, 2565897, 712335230)
(76, 77, 'Maker', 76598, -0.3, 12.0, 3.7, 26845734, 690124020)
(77, 78, 'GMX', 7824, -0.7, 21.6, 0.6, 39689047, 663387715)
(78, 79, 'Arweave', 1254, -1.0, 13.2, -1.2, 82215349, 628304257)
(79, 80, 'Zcash', 4974, -0.5, 7.8, 4.4, 119465447, 626107830)
(80, 81, 'Trust Wallet', 147, -0.2, 1.8, 1.2, 32850033, 613667087)
(81, 82, 'Conflux', 289448, 0.2, 434.5, 35.0, 803505247, 608156770)
(82, 83, 'OKC', 3322, -2.0, 11.5, 9.8, 11920122, 592443874)
(83, 84, 'WhiteBIT Token', 400, -0.2, 22.2, 0.3, 1114792, 581706498)
(84, 85, 'Bitget Token', 411762, -0.2, 14.3, 3.9, 16214788, 576466540)
(85, 86, 'cUSDC', 22717344355, -0.1, -0.3, -0.1, 3277, 573863611)
(86, 87, 'Osmosis', 107, -0.8, 6.2, 1.9, 23823298, 573390171)
(87, 88, 'Gemini Dollar', 100, 0.1, 0.3, 0.2, 625678, 565875578)
(88, 89, 'WEMIX', 230, 1.4, 116.7, 17.1, 22214159, 560510703)
(89, 90, 'Optimism', 257, -1.4, 10.3, -2.1, 239207613, 552862186)
(90, 91, 'Zilliqa', 34016845642, -0.6, 16.7, 5.8, 157337070, 549436894)
(91, 92, 'Loopring', 440241, -0.2, 7.7, 1.7, 105188747, 548727431)
(92, 93, 'THORChain', 181, -0.3, 7.7, 3.4, 100841236, 544010759)
(93, 94, 'cDAI', 22139804759, -0.1, -0.2, -0.1, 21116, 537997946)
(94, 95, 'Tokenize Xchange', 672, -0.5, 10.2, 1.4, 9252044, 537670444)
(95, 96, 'Edgecoin', 999234, -0.2, -0.1, -0.0, 27612895, 524838070)
(96, 97, 'Enjin Coin', 519200, -0.2, 16.0, 6.8, 93282376, 519502425)
(97, 98, 'Render', 170, -1.8, 9.3, -1.6, 107049232, 508437238)
(98, 99, 'Radix', 49803328758, 1.2, 7.0, 2.4, 596793, 503351251)
(99, 100, 'Convex Finance', 658, -0.1, 16.8, 1.5, 7947696, 492003726)

In [96]:
import mysql.connector as connection
import pymysql.cursors

In [ ]:
pymysql.connect(host=host, port=port, user=user, passwd=passw)

conn.cursor().execute("CREATE DATABASE IF NOT EXISTS {0} ".format(database))
conn = pymysql.connect(host=host,
                       port=port,
                       user=user, 
                       passwd=passw,  
                       db=database,
                       charset='utf8')

data.to_sql(name=database, con=conn, if_exists = 'replace', index=False, flavor = 'mysql')

In [15]:
import mysql.connector as connection
import pandas as pd
try:
    mydb = connection.connect(host="172.17.0.2", database = 'login_node',user="root", passwd="my-secret-pw",use_pure=True)
    query = "Select * from users;"
    result_dataFrame = pd.read_sql(query,mydb)
    #mydb.close() #close the connection
except Exception as e:
    #mydb.close()
    print(str(e))

In [16]:
result_dataFrame = pd.read_sql(query, mydb)

In [17]:
result_dataFrame

,id,user,name,rol,pass
0,1,dani-v@enve.io,Daniel Villarreal,admin,$2a$08$3AmJw2C8xXCNhaXn4HEl5.i28HflKs0SxdeFQIt...